@charset "utf-8";
/* CSS Document */

body{
	width: 1280px;
	height: 1024px;
	background-color:#FFF;
	background-image:url(../img/Fundo.png);
	background-repeat:no-repeat;
	background-position:center;
	background-attachment:fixed;
}

.login{
	margin-left:550px;
	margin-top:220px;
	width: 250px;
	height: 200px;
	position:fixed;
}

.menu{
	
	margin-left:180px;
	margin-top:220px;
	width: 200px;
	height: 270px;
	position:fixed;
}