<aside id="layout-menu" class="left-sidebar">
    <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading">MENU</a>
        <ul id="a">
            <li><a href="agendamentoLista.html">   - Agendamentos</a></li>
            <li><a href="especialidadeLista.html">   - Especialidades</a></li>
            <li><a href="medicoLista.html">   - Médico</a></li>
            <li><a href="equipamentoLista.html">   - Equipamento</a></li>
            <li><a href="materialLista.html">   - Material</a></li>
            <li><a href="procedimentoLista.html">   - Procedimento</a></li>
            <li><a href="salaLista.html">   - Salas</a></li>
            <li><a href="pacienteLista.html">   - Pacientes</a></li>
        </ul>
</aside>